<!DOCTYPE html>
<html>
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title>Mat og Service</title>

    <!-- Font import -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <!-- CSS -->
    <% if (conf.device === 'desktop') {%><link rel="stylesheet" href="/css/desktop.css" /><%} else if (conf.device === 'phone') {%><link rel="stylesheet" href="/css/mobile.css" /><%}%>

    <nav>
      <img onclick="window.location.href='/'" src="/img/mslogo.png" height="100">
      <menu>
        <% for (var i in conf.pages) {%>
          <a href="<%=conf.pages[i].path%>"><%=conf.pages[i].text.toUpperCase()%></a>
        <%}%>
      </menu>
      <div id="languagebar"><% for (var i in conf.languages) {%><button id="lang-<%=conf.languages[i]%>" class="language"><img src="/ico/<%=conf.languages[i]%>.png"></button><%}%></div>
    </nav>
  </header>
  <body>
    <section class="pageContainer"><div class="submenu"></div><div class="pagePic"></div><div class="pageText"><%=text%></div></section>
    </section>
  </body>
  <footer>
    <section>
      <a href="https://www.facebook.com/Mat-og-Service-101847788212834/" target="_blank"><img src="/img/facebook_logo.png" class=logo><span>Mat og Service</span></a>
      <a href="https://www.instagram.com/smayrhofer/" target="_blank"><img src="/img/instagram_logo.png" class=logo><span>smayrhofer</span></a>
    </section>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
  </footer>
</html>
